<!DOCTYPE html>
<html lang="en" ng-app="kawaldesa" data-framework="angularjs">
<head>
    
    <!-- facebook hash remover -->
    <script type="text/javascript">if (window.location.hash == '#_=_') window.location.hash = '';</script>
    
    <script type="text/javascript">window.CurrentUser = @Html.Raw(ViewData["User"]);</script>
    @if(ViewData.ContainsKey("Data"))
    {
        <script type="text/javascript">window.Data = @Html.Raw(ViewData["Data"]);</script>
    }

    <title>Kawal Desa - Transparansi Alokasi, Penyaluran dan Realisasi Dana Desa</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' />

    @Styles.Render("~/css/kawaldesa-all")
    @Scripts.Render("~/js/kawaldesa-lib")
    @Scripts.Render("~/js/kawaldesa-own")

</head>

<body ng-controller="IndexCtrl as indexCtrl" ng-cloak class="ng-cloak">
    <header role="banner" id="top" class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button color:" data-target="#bs-navbar" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">KD</a>
                <form class="navbar-form" role="search">
                    <div class="input-group search-input-group">
                        <input type="text" ng-model="selectedSearch" placeholder="Cari desa, kecamatan, kabupaten, atau propinsi"
                               typeahead="region as region.Name for region in indexCtrl.searchRegions($viewValue)" typeahead-template-url="searchTemplate.html" class="form-control" typeahead-on-select="indexCtrl.onSearchSelected($item, $model, $value)">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span>&nbsp;</button>
                        </div>
                    </div>
                </form>
            </div>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-menu">
                    <li class="dropdown" ng-class="{'active' : indexCtrl.type == 'dd' || indexCtrl.type == 'add' || indexCtrl.type == 'bhpr', 'open' : navOpen}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="navOpen = !navOpen; $event.stopPropagation();">
                            Alokasi
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="{'active': indexCtrl.type == 'dd'}"><a href="/dd/{{indexCtrl.region.Type == 4 ? indexCtrl.region.fkParentId : indexCtrl.regionId}}" ng-click="navOpen = false;indexCtrl.changeType('dd', $event)">DD dari APBN</a></li>
                            <li ng-class="{'active': indexCtrl.type == 'add'}"><a href="/add/{{indexCtrl.region.Type == 4 ? indexCtrl.region.fkParentId : indexCtrl.regionId}}" ng-click="navOpen = false;indexCtrl.changeType('add', $event)">ADD dari APBD</a></li>
                            <li ng-class="{'active': indexCtrl.type == 'bhpr'}"><a href="/bhpr/{{indexCtrl.region.Type == 4 ? indexCtrl.region.fkParentId : indexCtrl.regionId}}" ng-click="navOpen = false;indexCtrl.changeType('bhpr', $event)">Bagi Hasil PDRD</a></li>
                        </ul>
                    </li>
                    <li ng-class="{'active' : indexCtrl.type == 'transfer'}">
                        <a href="/p/{{indexCtrl.regionId}}" ng-click="indexCtrl.changeType('transfer', $event)">Penyaluran</a>
                    </li>
                    
                    <li ng-class="{'active' : indexCtrl.type == '
                        '}">
                        <a href="/r/{{indexCtrl.regionId}}" ng-click="indexCtrl.changeType('realization', $event)">Realisasi</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav nav-region">
                    <li ng-if="!$first" ng-repeat-start="region in indexCtrl.regionTree">
                        <div class="gt hidden-xs">→</div>
                    </li>
                    <li ng-repeat-end ng-class="{'active':$last}">
                        <a href="#" ng-click="indexCtrl.changeRegion(region.Id, $event)">
                            {{region.Name}}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-search" ng-click="indexCtrl.showSearch($event)"> <i class="fa fa-search"></i></a>
                    </li>
                    <li class="nav-profile dropdown" ng-class="{'active' : indexCtrl.type == 'dashboard', 'open': navUserOpen}" ng-if="indexCtrl.currentUser">
                        <a ng-click="navUserOpen = !navUserOpen; $event.stopPropagation();" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src='http://graph.facebook.com/v2.2/{{indexCtrl.currentUser.FacebookId}}/picture' />
                            {{indexCtrl.currentUser.Name}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-class="{'active': indexCtrl.type == 'users'}">
                                <a ng-click="navUserOpen = false;" href="/u/{{indexCtrl.currentUser.Id}}"> <i class="fa fa-user"></i> Profil</a>
                            </li>
                            <li ng-click="navUserOpen = false;" ng-class="{'active': indexCtrl.type == 'orgs'}" ng-show="{{indexCtrl.currentUser.fkOrganizationId}}">
                                <a href="/orgs/{{indexCtrl.currentUser.fkOrganizationId}}"><i class="fa fa-users"></i> Organisasi</a>
                            </li>
                            <li><a ng-click="navUserOpen = false;" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="/login" ng-if="!indexCtrl.currentUser">Login</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" ng-class="{'collapse': !searchShown}">
                    <div class="input-group search-input-group">
                        <input type="text" ng-model="selectedSearch" placeholder="Cari desa, kecamatan, kabupaten, atau propinsi"
                               typeahead="region as region.Name for region in indexCtrl.searchRegions($viewValue)" typeahead-template-url="searchTemplate.html" class="form-control" typeahead-on-select="indexCtrl.onSearchSelected($item, $model, $value)">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span>&nbsp;</button>
                        </div>
                    </div>
                    <a href="#" ng-click="searchShown=false; $event.preventDefault();"><i class="fa fa-times"></i></a>
                </form>
                <script type="text/ng-template" id="searchTemplate.html">
                    <a style="text-transform:uppercase;">
                        <div class="pull-left">
                            <span style="color: #999">{{match.model.TypeName}}</span> <span ng-bind-html="match.model.Name | typeaheadHighlight:query"></span>
                        </div>
                        <div ng-if="match.model.Parent" class="pull-right">
                            <small style="margin-left: 20px; font-size: 65%; line-height: 20px;">{{match.model.Parent}}</small>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                </script>
                <script type="text/ng-template" id="template/typeahead/typeahead-match.html">
                    <a href tabindex="-1" ng-bind-html="match.label | typeaheadHighlight:query"></a>
                </script>
                <script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
                    <ul class="dropdown-menu" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}">
                        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                            <div typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                        </li>
                    </ul>
                </script>
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container-fluid">
            <div class="row">
              <div ng-class="{'col-md-9': indexCtrl.type =='transfer', 'col-md-12': indexCtrl.type != 'transfer'}" 
                   style="border-right: 1px solid #ccc; padding-top: 20px;">
                  <ul class="nav">
                      <li>
                          <a href="http://www.github.com/ghk/kawaldesa">
                              <i class="fa fa-github"></i>
                              Source code di github
                          </a>
                      </li>
                      <li>
                          <a href="/Docs/html/help.html">
                              <i class="fa fa-book"></i>
                              Panduan Penggunaan
                          </a>
                      </li>
                  </ul>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/ng-template" id="template/modal/backdrop.html">
        <div class="modal-backdrop"
             modal-animation-class="fade"
             modal-in-class="in"
             ng-style="{'z-index': 1040 + (index && 1 || 0) + index*10}">
        </div>
    </script>

    <script type="text/ng-template" id="template/modal/window.html">
        <div modal-render="{{$isRendered}}" tabindex="-1" role="dialog" class="modal"
             modal-animation-class="fade"
             modal-in-class="in"
             ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
            <div class="modal-dialog" ng-class="size ? 'modal-' + size : ''"><div class="modal-content" modal-transclude></div></div>
        </div>
    </script>

</body>

</html>
