@{
    Layout = "_Layout.cshtml";
}

@Html.Partial("TransferRecapitulation")
@Html.Partial("AccountRecapitulation")
@Html.Partial("DdAllocation")
@Html.Partial("AddAllocation")
@Html.Partial("BhprAllocation")
@Html.Partial("Apbdes")

<script type="text/ng-template" class="modal fade" id="source-upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" ng-show="indexCtrl.newSourceState">
        <div class="modal-body">
            <div class="container-fluid">
                Mengunggah...
            </div>
        </div>
    </div>
    <div class="modal-content" ng-show="!indexCtrl.newSourceState">
        <div class="modal-header">
            <button type="button" class="close" ng-click="indexCtrl.closeModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">
                Unggah Dokumen Sumber
            </h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="function" class="col-sm-3 control-label">Fungsi Dokumen</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="function" ng-model="indexCtrl.newSourceFunction" convert-to-number>
                                <option value="0">Alokasi</option>
                                <option value="1">Penyaluran</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="function" class="col-sm-3 control-label">Jenis Dana</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="type" ng-model="indexCtrl.newSourceSubType">
                                <option value="Dd">Dana Desa dari APBN</option>
                                <option value="Add">ADD dari APBD</option>
                                <option value="Bhpr">Bagi Hasil Pajak &amp; Retribusi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Wilayah</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="indexCtrl.newSourceRegion"
                                   placeholder="{{indexCtrl.newSourceFunction == 0 ? 'cari kabupaten/kota atau nasional' : 'cari desa'}}"
                                   typeahead="region as region.Name for region in indexCtrl.searchRegions($viewValue, true)" typeahead-template-url="searchTemplate.html" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-sm-3 control-label">File</label>
                        <div class="col-sm-9">
                            <input type="file" ng-file-select class="form-control"
                                   ng-model="indexCtrl.newSourceFile" multiple="" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="indexCtrl.newSourceFunction == 1">
                        <label for="amount" class="col-sm-3 control-label">Jumlah</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control"
                                   ng-model="indexCtrl.newSourceAmount" multiple="" />
                        </div>
                    </div>
                    <div class="form-group" ng-show="indexCtrl.newSourceFunction == 1">
                        <label for="date" class="col-sm-3 control-label">Tanggal</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="indexCtrl.newSourceDate" multiple="" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-default" ng-click="indexCtrl.closeModal()">Batal</button>
                <button type="button" class="btn btn-primary" ng-click="indexCtrl.uploadSource()">Unggah</button>
            </div>
        </div>
    </div>
</script>


<div class="btn-floating-container" ng-if="indexCtrl.hasAnyVolunteerRoles()">
    <a href="#" class="btn btn-primary" ng-click="indexCtrl.modal('source-upload-modal')">
        <i class="fa fa-upload"></i>
    </a>
</div>
